.our-team{
    height: 40vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
      url("../Images/maize.jpg") center/cover no-repeat;
    position: relative;
    background-attachment: fixed;
    height: 15rem;
    margin-top: 10%;
  }
  .text {
    font-family: SpartanLimport;
    color:#15d004;
    margin-top: 2.5rem;
    line-height: 1.3;
    text-align: center;
    padding-top: 6.5%;
    font-size: 30px;
  }
  .lower-text{
    padding-left: 2rem;
    padding-top: 2rem;
    font-family: SpartanLimport;
    color:#f1f6f1 ;
    text-align: center;
    font-size: 50px;
  } 
  .teams{
    position: sticky;
  }
  .team-us{
   
    display: flex;
   padding: 1.5rem; 

  }
  .team-section{
    float: left;
    width: 20%;
    padding: 1rem; 
    padding-top: 5%; 
    height: 420px;
    z-index: 2;
    margin-left: 2%;
    padding-right: 5rem;
  }
  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    z-index: 3;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    border-radius: 5%;
    background: none;
  }
  .flip-card-front {
    background: white;
    color: black;
  }
  .flip-card-front img {
    width: 170%;
    height: 90%;
    border-radius: 5%;
  }
  .flip-card-back {
    background-color: #ffffff;
    color: white;
    transform: rotateY(180deg);
    border-radius: 5%;
    height: 90%;
    width: 170%;
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 80%;
    backface-visibility: hidden;
    align-self: center;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .name-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text-profile{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#15d004;
  }

@media only screen and  (max-width:767px){


    
}

