
.about{
    display: flex;
    padding: 5%;
  
  }
  .about .about-text{
    margin-top:10%;
    padding:-20px;
    display: inline;
  }
.main-howitworks{
  display: flex;
  padding: 5%;
}
.about .about-text h2{
  color: #121213;
  font-size: larger;
  margin-top: 2rem;
}
.about .about-text h3{
  color:#15d004;
  font-size: 150%;
  margin-top: 2rem;
}


@media only screen and  (max-width:767px){
  .about{
    display: inline;
    padding: 0.25rem;
    min-width: max-content;
    background-color: white;
  }
  .about-section-center-clearfix{
    max-width: min-content;
    padding: 3.5rem;
    text-align: center;
    justify-content: center;
    

  }
  .image-about{
    width: max-content;
    height: fit-content;
    
  }
  .image-about img{
    width: 30%;
    height: 30%;
    padding-left: -10%;
    margin-left: -70%;
  }
  .text-about{
    font-size: 20px;
  }




}


