.footer{
    background: #333;
    text-align: center;
    color: #B2B2B2;
    font-size: 1,3rem;
    padding: 3%;
    height: 15rem;
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 2fr));
    color:#b2b2b2 ;
    grid-gap: 1rem;
    padding: 2.5rem 0;
    border-bottom: 1px solid #B2B2B2;
}
.footer .container div{
    padding: 0 7rem;
}
.footer .container h3{
    color: #fff;
    font-size: 1.5rem;
    padding-bottom:  .8rem;
}
.footer .container input{
    width: 100%;
    border: 1px solid #B2B2B2;
    padding: .5rem .6rem;
    background: transparent;
    border-radius: 20px;
}

.footer .container ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.footer .container ul li a{
    color: #B2B2B2;
    margin-left: 10px;
    font-size: 18px;
}
.footer .container span{
    display: block;
}
@media(max-width: 767px) {
    .footer {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
      width: 5%;
    }
    .footer .container h3{
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .container{
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
      align-items: center;
      width: 5rem;
    }
    @media(max-width: 479px) {
      .footer {
        padding: var(--dl-space-space-unit);
        width: fit-content;
      }
      .container{
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-bottom: var(--dl-space-space-oneandhalfunits);
      }
}

}